#container {
  min-height: calc(100vh - 100px);
}

#topBlock {
  display: flex;
  position: relative;
  top: 16px;
  justify-content: center;
  background-color: #287c2f;
  overflow: hidden;
}

#topBlockimg {
  pointer-events: none;
  min-width: 1680px;
}

#title {
  display: block;
  position: absolute;
  top: 40%;
  transform: translateY(-100%);
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: calc(3em + 1vw);
}

#clipboardOval {
  position: absolute;
  right: 50%;
  bottom: 16%;
  transform: translate(50%);
  background: #fff6ed;
  height: 104px;
  width: calc(384px + 10vw);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#clipboardTopbar {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%);
  background: #fff6ed;
  width: 101%;
  height: 64px;
}

#formCard {
  padding: 16px;
  width: 64%;
  margin: 56px auto 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 416px;
  background-color: white;
  border-radius: 10px;
  border: solid 2px #f1ad75;
}

.doubleInputContainer {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  width: 80%;
}

.inputContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-left: 8px;
}

.input {
  padding: 8px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid #ececec;
  background-color: #f9f9f9;
}
.input:focus {
  outline: none;
}

.requiredFieldSymbol {
  color: red;
}

#firstTitle {
  margin: 16px 0;
  font-size: 2em;
  font-weight: 700;
}

#suitCaseImg {
  margin: 16px 0 8px 0;
  width: 88px;
  height: 88px;
}

#secondTitle {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 16px;
}

#radioBtnsContainer {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;
}

.radioLabel {
  margin-left: 6px;
}

#textArea {
  margin: 12px 0 32px 0;
  width: 64%;
  min-width: 320px;
  min-height: 256px;
}

#raqBtn {
  color: white;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  margin-bottom: 8px;
  font-size: 1.25em;
  font-weight: 700;
  background-color: #42b72a;
  padding: calc(8px + 0.7vw) calc(4px + 1.4vw);
}
